@model FilmsCollectionApp.Models.Filmmakers

@{
    ViewData["Title"] = "FilmmakerInfo";
}

<h2>FilmmakerInfo</h2>

<div>
    <h4>Filmmakers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dateofbirth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dateofbirth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Awards)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Awards)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>
    </dl>
    <h4>Films by @Model.Firstname @Model.Lastname</h4>
    <ol>
        @foreach (var element in ViewBag.FilmsByFilmmaker)
        {
            <li>@element.Filmname  &emsp;  @element.ImdbScore</li>
        }
    </ol>
</div>
